body {
	background: black url("./images/background3.png");
	font: 13px Arial, Sans-serif;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
iframe {
	border:0px;
}
a {
	color: #c0c0c0;
	text-decoration: underline;
}
a:hover {
        color:white;
	text-decoration: underline;
}
img {
	border: none;
}
form {
	padding: 0px;
	margin: 0px;
}
input,
select {
	background-color:#a8a8a8;
	font: 13px Arial, Sans-serif;
	color:black;
	margin: 1px;
	padding: 1px 2px;
	border:1px solid #292929;
	cursor: pointer;
}
label {
	cursor: pointer;
}
input:active {
	padding: 1px 2px;
}
textarea {
	width: 98%;
	font: 13px Arial, Sans-serif;
	padding: 1px 2px 0px 0px;
	border:1px solid #292929;
}
span.warning {
	color:yellow;
}
span.errors {
	color:red;
}
button.clickable_emoji {
	border:none;
	background:none;
	padding:0px;
	cursor: pointer;
}
button.closebox_link {
	border:none;
	background:none;
	padding:0px;
	cursor: pointer;
	color: #c0c0c0;
	text-decoration: underline;
}
button.comment_link {
	border:none;
	background:none;
	padding:0px;
	cursor: pointer;
	color: #c0c0c0;
	text-decoration: underline;
	font: 22px Arial, Sans-serif;
}
img.avatar {
	height:50px;
	width:50px;
}

/* Company */
#header {
	color:#c0c0c0;
	margin: 0px 1%;
	text-align: left;
}
#header #company {
	float: left;
	position: absolute;
}
#header #company .logo {
	float: left;
}
#header #company .title {
	text-align:center;
	margin-top:15px;
	margin-left:30px;
	float: left;
}

/* Top Navigation */
#navigation {
	margin-left:300px;
	margin-top:0px;
	margin-bottom:0px;
	padding: 0px;
	list-style-type: none;
	float: right;
}
#navigation li {
	background: #292929;
	padding: 6px 0px 0px;
	float: left;
}
#navigation li a {
	background: #292929;
	font: 18px Arial, Sans-serif;
	padding: 8px 8px 4px;
	border-bottom: 1px solid #3e3e3e;
	position: relative;
}
#navigation li.selected a {
	background: #3e3e3e;
	border-left: 1px solid #484848;
	border-right: 1px solid #484848;
	border-bottom: 1px solid #484848;
}
#navigation li.form {
	background: #292929;
	font: 18px Arial, Sans-serif;
	padding: 4px 8px 4px;
	border-left: 1px solid #3e3e3e;
	border-right: 1px solid #3e3e3e;
	border-bottom: 1px solid #3e3e3e;
}

/* Project Bar Navigation */
#projlinks {
	margin-top:6px;
	margin-bottom:0px;
	padding: 0px;
	list-style-type: none;
	float: left;
}
#projlinks li {
	background: #292929;
	padding: 6px 0px 0px;
	float: left;
}
#projlinks li a {
	background: #292929;
	font: 16px Arial, Sans-serif;
	padding: 12px 6px 16px;
	position: relative;
}
#projlinks li.selected a {
	background-color: rgba(255, 255, 0, 0.25);
}

/* Rounded Boxes */
.rounded_box {
	border-radius: 10px;
	border: 1px solid #3e3e3e;
	background: #292929;
	padding: 2px 5px;
}
.article .post_triangle {
	background: url("./images/postbit_lip.png") no-repeat;
	background-position:22px 8px;
	margin-top:-8px;
}
span.section_header {
	font: 18px Arial, Sans-serif;
	margin: 2px 4px 0px;
	display: block;
	clear:both;
}
span.section_header_centered {
	font: 18px Arial, Sans-serif;
	margin: 2px 4px 0px;
	display: block;
	text-align:center;
	clear:both;
}

/* Main */
#announce, #spam, #closed, #allprojects {
	color:#c0c0c0;
	margin: 0px 1%;
	text-align: left;
}
main {
	color:#c0c0c0;
	margin: 0px 1%;
	text-align: left;
}
main .article, #announce .article, #closed .article, #spam .article, #allprojects .article {
	background-color: #161616;
	margin: 0px 0px 5px;
	padding: 4px 6px;
	border: 1px solid #292929;
	border-bottom: 3px double #292929;
}
main .articlealert, #announce .articlealert, #closed .articlealert, #spam .articlealert, #allprojects .articlealert {
	background-color: rgba(255, 255, 0, 0.25);
	margin: 0px 0px 5px;
	padding: 4px 6px;
	border: 1px solid #292929;
	border-bottom: 3px double #292929;
}
main .articleredalert, #announce .articleredalert, #closed .articleredalert, #spam .articleredalert, #allprojects .articleredalert {
	background-color: rgba(255, 0, 0, 0.25);
	margin: 0px 0px 5px;
	padding: 4px 6px;
	border: 1px solid #292929;
	border-bottom: 3px double #292929;
}
main .articleattention, #announce .articleattention, #closed .articleattention, #spam .articleattention, #allprojects .articleattention {
	background-color: #161616;
	margin: 0px 0px 5px;
	padding: 6px 6px;
	border: 1px solid yellow;
	border-bottom: 3px double yellow;
}
main .mod_controls {
	float: right;
}
main .editedby {
	float: left;
	font: 10px Arial, Sans-serif;
	padding-top: 3px;
}
main h2.title {
	background-color:#292929;
	font: 22px Arial, Sans-serif;
	color: #c0c0c0;
	height:50px; /* This height should match up with the blog settings in the AdminCP. Posting icons go here. */
	text-align:center;
	margin: 0px -2px 4px -7px;
	border: 1px solid #3e3e3e;
	border-right: 3px double #3e3e3e;
}
main h2.titleattention {
	background-color:#292929;
	font: 22px Arial, Sans-serif;
	color: #c0c0c0;
	height:50px; /* This height should match up with the blog settings in the AdminCP. Posting icons go here. */
	text-align:center;
	margin: 0px -2px 4px -7px;
	border: 1px solid yellow;
	border-right: 3px double yellow;
}
main div.title, #closed div.title, #spam div.title, #allprojects div.title {
	background-color:#292929;
	font: 18px Arial, Sans-serif;
	color: #c0c0c0;
	height:50px;
	text-align:center;
	margin: 0px -2px 4px -7px;
	border: 1px solid #3e3e3e;
	border-right: 3px double #3e3e3e;
}
main span.half {
	width: 48%;
	padding: 0px 2% 0px 0px;
	float: left;
}
main table {
	background-color:#161616;
	border-collapse: collapse;
	border: 1px solid #292929;
	border-bottom: 3px double #292929;
}
main td.header {
	background-color:#292929;
	font: 18px Arial, Sans-serif;
	color: #c0c0c0;
	padding: 0px 4px 0px 4px;
	border: 1px solid #3e3e3e;
	border-right: 3px double #3e3e3e;
}
main td.subheader {
	background-color: #292929;
	font: 14px Arial, Sans-serif;
	padding: 4px 6px;
	border: 1px solid #3e3e3e;
	border-bottom: 3px double #3e3e3e;
}
main tr.line {
	border: 1px solid #292929;
}
main td.line {
	padding: 4px 6px;
}

/* Issue Stats */
main table.issue_stats {
	width: 100%;
	border: 0px;
}
main td.issue_stats {
	width: 25%;
	background-color: #161616;
	padding: 0px 6px;
	vertical-align: top;
}
main td.issue_block {
	width: 75%;
	background: #161616;
	margin: 0px 4px 5px 0px;
	padding: 4px 6px;
	vertical-align: top;
	border: 1px solid #292929;
	border-bottom: 3px double #292929;
}
main h2.issue_title {
	background-color:#292929;
	font: 22px Arial, Sans-serif;
	color: #c0c0c0;
	height:50px; /* This height should match up with the blog settings in the AdminCP. Posting icons go here. */
	text-align:center;
	margin: -2px 0px 4px -7px;
	border: 1px solid #3e3e3e;
	border-right: 3px double #3e3e3e;
}
main div.issue_title {
	background-color:#292929;
	font: 18px Arial, Sans-serif;
	color: #c0c0c0;
	height:50px;
	text-align:left;
	margin: 0px -2px 4px -7px;
	padding: 0px 6px;
	border: 1px solid #3e3e3e;
	border-right: 3px double #3e3e3e;
}

/* Issue Edit Form */
main .issue_stats span.field {
	font-weight: bold;
	width: 25%;
	margin: 5px 0px;
	float: left;
}
main .issue_block span.field {
	font-weight: bold;
	width: 15%;
	margin: 5px 0px;
	float: left;
}
main .issue_stats span.field span,
main .issue_block span.field span {
	font-weight: normal;
}
main .issue_stats span.form {
	width: 75%;
	float: left;
}
main .issue_block span.form {
	width: 85%;
	float: left;
}
main .issue_block span.head {
	font: bold 13px Arial, Sans-serif;
	border-bottom: 1px dotted #3e3e3e;
	margin: 0px 0px 3px;
	display: block;
	position: relative;
	width: 100%;
}
.issue_stats p.line, .issue_block p.line {
	margin: 3px 0px;
	border-bottom: 1px dotted #3e3e3e;
}
.issue_stats div.line, .issue_block div.line {
	margin: 3px 0px;
	border-bottom: 1px dotted #3e3e3e;
	clear:both;
}

/* Code */
main .article pre.code {
	background: #484848;
	padding: 3px 5px;
	border: 1px solid black;
	white-space:pre;
	overflow:auto;
}
main .article pre.codebox {
	background: #484848;
	padding: 3px 5px;
	border: 1px solid black;
	height:200px;
	white-space:pre;
	overflow:auto;
}
main .article pre.php {
	background: white;
	padding: 3px 5px;
	border: 1px solid black;
	white-space:pre;
	overflow:auto;
}

/* Quick Close Box */
main .devclosebox {
	width:25%;
	background-color: #161616;
	border: 1px solid #292929;
	border-bottom: 3px double #292929;
	z-index: 1;
	position: absolute;
	padding: 4px 6px;
	margin: -17px 0px 0px 90px;
}

/* Login Box */
#header .loginlink {
	float:right;
}
#logintogglebox .loginbox {
	float:right;
	width:15%;
	background-color: #161616;
	border: 1px solid #292929;
	border-bottom: 3px double #292929;
	z-index: 1;
	position: relative;
	padding: 4px 6px;
	margin: 0px -2% 0px 0px;
}
#logintogglebox div.logintitle {
	background-color:#292929;
	font: 18px Arial, Sans-serif;
	color: #c0c0c0;
	height:22px;
	text-align:center;
	margin: 0px -2px 4px -7px;
	border: 1px solid #3e3e3e;
	border-right: 3px double #3e3e3e;
}

/* Quotes */
main .article blockquote {
	background: #484848;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding: 5px;
	border: 1px solid black;
}
main .article span.quote {
	color:#FFD800;
	font: bold 14px Arial, Sans-serif;
}
main .article span.quote a {
	color:#FFD800;
	font: bold 14px Arial, Sans-serif;
}
main .article span.quote a:hover {
	color:yellow;
	font: bold 14px Arial, Sans-serif;
}
main .article span.left-quote {
	background: #484848 url("./images/left-quote.png") left no-repeat;
	padding-left:20px;
}
main .article span.right-quote {
	background: #484848 url("./images/right-quote.png") right no-repeat;
	padding-right:20px;
}

/* Page Lines */
.article p {
	height: 0px;
	margin: 0px;
	overflow: hidden;
	clear: both;
}
.article p.line {
	margin: 3px 0px;
	border-bottom: 1px dotted #3e3e3e;
}
.article div.line {
	margin: 3px 0px;
	border-bottom: 1px dotted #3e3e3e;
	clear:both;
}

/* Forms */
main .article span.field {
	font-weight: bold;
	width: 15%;
	margin: 5px 0px;
	float: left;
}
main .article span.field span {
	font-weight: normal;
}
main .article span.form,
main .article div.form {
	width: 85%;
	float: left;
}
main .article span.head {
	font: bold 13px Arial, Sans-serif;
	border-bottom: 1px dotted #3e3e3e;
	margin: 0px 0px 3px;
	display: block;
	position: relative;
	width: 100%;
}

/* Footer */
footer {
	font: 10px Arial, Sans-serif;
	color: #c0c0c0;
	text-align: center;
	margin: 4px 4px 8px;
}
footer a {
	color: white;
}